.serah{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.A{
    width: 50%;
    height: 50%;
    

}
.B{
    text-align: center;
}
.C{
    height: 50%;
    width: 50%;
    padding-left: 50%;

}
.D{
    display: flex;
}
.E{
    width:80%;
    height: 80%;
}
.F{
    width: 30%;
    height: 50%;
}
.H{
    width:80%;
    height: 80%;

}
.I{

    width: 30%;
    height: 50%;

}
.J{
    width:80%;
    height: 80%;

}
.K{
    
    width: 30%;
    height: 50%;

}
.M{
    display: flex;
}
.N{
    text-align: center;
}



.Q{
    width: 20%;
    height: 20%;
}
.T{
    width: 20%;
    height: 20%;

}
.V{
    width: 20%;
    height: 20%;
}
.c{
    height: 20%;
    width: 20%;
}
.z{
    height: 30%;
 width: 30%;
}
,m{
    height: 20%;
    width: 20%;

}
.f{
    height: 30%;
    width: 30%;
}
.h{
    height: 50%;
    width: 50%;
}
.k{
    height: 30%;
    width: 30%;
}
.o{
    height: 30%;
    width: 30%;
}
.very{
    display: flex;
    justify-content: space-between;
    border: solid;
    background-color: tomato;
}
.more{
    border: solid;
    border-radius: 25px;
    width: 50%;
    height: 50%;
    margin-left: 30%;
    padding-top: 30px;
    padding-bottom: 10%;
    background-color: dak;

}
.S{
    margin-left: 25%;
    position: relative;
    top: -300px;
}
.ME{
    height: 25px;
    width: 25;
}
.U{
    margin-left: 50%;
    position: relative;
    top: -500px;

}
.a{
    margin-left: 70%;
    position: relative;
    top: -700px;

}
.d{
    top: -500px;
}
.n{
    margin-left: 45%;
    position: relative;
    top: -300px;

}
.g{
    margin-left: 60%;
    position: relative;
    padding-bottom: 100%;
    
}








